
 @font-face {
    font-family: Ubuntu, sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
    font-weight:700;
  }
  

  body {
      font-family: Ubuntu, sans-serif;
      color: cyan;
      background-color: #222;
      padding: 20px;
  }

  .dinamico {
    display: flex;
    justify-content: space-around;
  }

  .demo {
    width: 100px;
    height: 100px;
    background-color: grey;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cor-1 {
    background-color: green;
    color:deeppink;
    font-weight: bold;
  }

  .cor-2 {
    background-color: yellow;
    color: midnightblue;
    font-weight: bold;
  }
  
  .cor-3 {
    background-color: red;
    color: blanchedalmond;
    font-weight: bold;
  }

  li::marker {
      color: red;
  }

  input::placeholder {
    color: red;
    // padding-left: 40px;
    text-align: center;
  }

  hr {
    display: block !important;
    width: 100% !important;
    height: 2px !important;
    background-color: cyan !important;

  }


  .coma {
    margin-right: 10px;

    &::after {
      content: ',';
      display: inline-block;
      height: 5px;
      width: 5px;
    }

    &:last-child::after {
      content: '';
    }
  }